* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

:is(p, h1, h2, h3, h4, h5, h6, span) {
  display: block;
}

:is(ol, ul, dl) {
  list-style-position: inside;
}

li :is(p, h1, h2, h3, h4, h5, h6, span) {
  display: inline;
}

.demo-image {
  height: 100%;
  background-color: #f8f8f8;
}

.demo-logo-vertical {
  height: 55px;
  width: 80%;
  background-color: #f8f8f8;
  margin: 0 auto;
}

:is(h1, h2, h3, h4, h5, h6).ant-typography {
  font-weight: 700;
}

ul#menu-dashboard.ant-menu.ant-menu-light .ant-menu-item-selected {
  border-left-width: 6px;
  border-left-color: #5653fc;
  border-left-style: solid;
}

[class^='ant-dropdown'] {
  cursor: pointer;
}

.ant-collapse .ant-collapse-item.no-children .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.ant-collapse .ant-collapse-item > .ant-collapse-header {
  align-items: center;
}
