name: Build, Test, and Deploy to Dev

on: 
  push:
    branches:
      - develop
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches:
      - develop

env:
  SQLX_OFFLINE: true

jobs:
  build_backend_app:
    name: Build Rust Backend App
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Web/backend
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Paths Changes Filter
        uses: dorny/paths-filter@v2.11.1
        id: filter
        with:
          filters: |
            Backend:
              - 'Web/backend/**'
            
      - name: Build cache dependencies
        if: steps.filter.outputs.Backend == 'true'
        uses: actions/cache@v3.3.2
        with: 
          path: |
            ~/.cargo
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
      - name: Install latest rust toolchain
        if: steps.filter.outputs.Backend == 'true'
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
      - name: Build and test code
        if: steps.filter.outputs.Backend == 'true'
        run: |
          cargo build --verbose
          cargo test --verbose    
